:root {
    --accent-color: #2196F3;
    --primary-font-color: #212121;
    --secondary-font-color: #757575;
    --font-color-white: #ffffff;

    --logo-color-dark: #000000;
    --logo-color-light: #ffffff;

    --hero-btn: #2196F3;
    --hero-btn-hover: #188CE8;

    --portfolio-btn: #F5F4FA;
    --portfolio-select-hover: #2196F3;
    --portfolio-select-active: #2196F3;
  
    --bg-primary: #FFFFFF;
    --bg-section-dark: #2F303A;
    --bg-section-light: #F5F4FA;
    --bg-footer: #2F303A;

    --footer-font-white: #ffffff;
    --footer-font-white-transparent: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-font-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* -------------------- HEADER -------------------- */

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-dark {
    color: var(--logo-color-dark);
}

.logo-light {
    color: var(--logo-color-light);
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);

}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}

/* -------------------- /HEADER -------------------- */


/* -------------------- SECTION -------------------- */

.bg-section-dark {
    background-color: var(--bg-section-dark);
}

.bg-section-light {
    background-color: var(--bg-section-light);
}

.current {
    color: var(--accent-color);
}

/* .section-title-none {

} */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--primary-font-color);
}

/* -------------------- /SECTION -------------------- */


/* -------------------- /BUTTONS -------------------- */

.hero-modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--font-color-white);
    background-color: var(--hero-btn);
    cursor: pointer;
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
    background-color: var(--hero-btn-hover);
}


.portfolio-select-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--primary-font-color);
    background-color: var(--portfolio-btn);
    cursor: pointer;
}

.portfolio-select-btn:hover,
.portfolio-select-btn:focus {
    color: var(--font-color-white);
    background-color: var(--portfolio-select-hover);
}

.portfolio-active-btn {
    color: var(--font-color-white);
    background-color: var(--accent-color);
}

/* -------------------- /BUTTONS -------------------- */


/* -------------------- HERO -------------------- */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--font-color-white);
}

/* -------------------- /HERO -------------------- */


/* -------------------- ADVANTAGES -------------------- */

.advantages-title  {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-font-color);
}

.advantages-description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

/* -------------------- /ADVANTAGES -------------------- */


/* -------------------- SERVICES -------------------- */

/* -------------------- /SERVICES -------------------- */


/* -------------------- TEAM -------------------- */

.team-item {
    background-color: var(--bg-primary)
}



.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-font-color);
    
}
.team-text {
    font-size: 16px;
    line-height: 1.19; 
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

/* -------------------- /TEAM -------------------- */


/* -------------------- PORTFOLIO -------------------- */

.porfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-font-color);
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

/* -------------------- /PORTFOLIO -------------------- */


/* -------------------- FOOTER -------------------- */

.footer {
    background-color: var(--bg-footer);
}

.address {
    font-style: normal;
}

.footer-contacts-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.contacts-address {
color: var(--footer-font-white);
}

.contacts-link {
    color: var(--footer-font-white-transparent);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
color: var(--accent-color);
}

/* -------------------- /FOOTER -------------------- */

